# Project exclude paths
/target/
/.idea/uiDesigner.xml
/.idea/modules.xml
/.idea/libraries/Maven__org_yaml_snakeyaml_1_33.xml
/.idea/libraries/Maven__org_slf4j_slf4j_api_1_8_0_beta4.xml
/.idea/vcs.xml
/.idea/libraries/Maven__org_ow2_asm_asm_tree_9_4.xml
/.idea/libraries/Maven__org_ow2_asm_asm_commons_9_4.xml
/.idea/libraries/Maven__org_ow2_asm_asm_9_4.xml
/.idea/libraries/Maven__org_joml_joml_1_10_5.xml
/.idea/libraries/Maven__org_jetbrains_annotations_24_0_1.xml
/.idea/libraries/Maven__org_geysermc_geyser_api_2_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__org_geysermc_floodgate_api_2_0_SNAPSHOT.xml
/.idea/libraries/Maven__org_geysermc_event_events_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__org_geysermc_cumulus_cumulus_1_0_SNAPSHOT.xml
/.idea/libraries/Maven__org_geysermc_common_1_4_3_SNAPSHOT.xml
/.idea/libraries/Maven__org_geysermc_api_base_api_1_0_0_SNAPSHOT.xml
/.idea/libraries/Maven__org_eclipse_sisu_org_eclipse_sisu_inject_0_3_5.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_utils_3_3_0.xml
/.idea/libraries/Maven__org_codehaus_plexus_plexus_interpolation_1_26.xml
/.idea/libraries/Maven__org_checkerframework_checker_qual_3_21_0.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_impl_1_6_3.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_api_1_6_3.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_spi_1_6_3.xml
/.idea/libraries/Maven__org_apache_maven_resolver_maven_resolver_util_1_6_3.xml
/.idea/libraries/Maven__org_apache_maven_maven_resolver_provider_3_8_5.xml
/.idea/libraries/Maven__org_apache_maven_maven_repository_metadata_3_8_5.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_builder_3_8_5.xml
/.idea/libraries/Maven__org_apache_maven_maven_model_3_8_5.xml
/.idea/libraries/Maven__org_apache_maven_maven_builder_support_3_8_5.xml
/.idea/libraries/Maven__org_apache_maven_maven_artifact_3_8_5.xml
/.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_17_1.xml
/.idea/libraries/Maven__org_apache_commons_commons_lang3_3_8_1.xml
/.idea/libraries/Maven__net_md_5_bungeecord_chat_1_16_R0_4_deprecated_build_9.xml
/.idea/libraries/Maven__net_kyori_examination_string_1_3_0.xml
/.idea/libraries/Maven__net_kyori_adventure_text_serializer_plain_4_13_0.xml
/.idea/libraries/Maven__net_kyori_adventure_text_serializer_legacy_4_13_0.xml
/.idea/libraries/Maven__net_kyori_examination_api_1_3_0.xml
/.idea/libraries/Maven__net_kyori_adventure_text_serializer_gson_4_13_0.xml
/.idea/libraries/Maven__net_kyori_adventure_text_minimessage_4_13_0.xml
/.idea/libraries/Maven__net_kyori_adventure_text_logger_slf4j_4_13_0.xml
/.idea/libraries/Maven__net_kyori_adventure_key_4_13_0.xml
/.idea/libraries/Maven__net_kyori_adventure_api_4_13_0.xml
/.idea/libraries/Maven__javax_inject_javax_inject_1.xml
/.idea/libraries/Maven__it_unimi_dsi_fastutil_8_5_6.xml
/.idea/libraries/Maven__io_papermc_paper_paper_api_1_19_4_R0_1_SNAPSHOT.xml
/.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1.xml
/.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Maven__com_google_guava_guava_31_1_jre.xml
/.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Maven__com_google_errorprone_javac_9_181_r4173_1.xml
/.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_11_0.xml
/.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Maven__com_google_code_gson_gson_2_10.xml
/.idea/libraries/Maven__com_github_spotbugs_spotbugs_annotations_4_2_3.xml
/.idea/jarRepositories.xml
/GenesisMC.iml
/.idea/encodings.xml
/.idea/compiler.xml
/.idea/.gitignore
